# Node / Next.js / React
node_modules/
.next/
out/
build/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/
.venv/
lib/
lib64/

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule-shm
celerybeat-schedule-wal

# OS / Environments
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Zips and Archives
*.zip
*.tar.gz
*.rar
# Environment variables
.env
.env.*
!.env.example
!.env.local.example
